.product-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.products-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.products {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

.products-list img {
    display: block;
    margin: 0 auto;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
}
