@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: rgb(253, 252, 251);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}

form {
    border: 2px solid;
    width: 250px;
    padding: 50px 25px 20px 25px;
    height: fit-content;
    border-radius: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 4rem;
}

h1 {
    text-transform: uppercase;
    color: blue;
}

input {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 20px;
    outline: none;
}

button {
    width: 100px;
    height: 40px;
    background: hsl(256, 96%, 43%);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    color: white;
}

button:hover {
    background: hsl(350, 28%, 37%);
    font-weight: bold;
    color: white;
}

p {
    color: red;
}

.intrest-total {
    color: green;
}